In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\sadin\\OneDrive\\Desktop\\netflix_userbase.csv")

In [3]:
df.columns

Index(['User ID', 'Subscription Type', 'Monthly Revenue', 'Join Date',
       'Last Payment Date', 'Country', 'Age', 'Gender', 'Device',
       'Plan Duration'],
      dtype='object')

In [4]:
#to identify the countries in the dataset
df['Country'].value_counts()

Country
United States     451
Spain             451
Canada            317
United Kingdom    183
Australia         183
Germany           183
France            183
Brazil            183
Mexico            183
Italy             183
Name: count, dtype: int64

In [5]:
#To identify the subscription types in the dataset
df['Subscription Type'].value_counts()

Subscription Type
Basic       999
Standard    768
Premium     733
Name: count, dtype: int64

In [6]:
#to create the slider for age
df['Age'].min()

26

In [7]:
df['Age'].max()

51

In [8]:
#To identify the devices in the dataset
df['Device'].value_counts()

Device
Laptop        636
Tablet        633
Smartphone    621
Smart TV      610
Name: count, dtype: int64

In [9]:
#To identify the plan durations in the dataset
df['Plan Duration'].value_counts()

Plan Duration
1 Month    2500
Name: count, dtype: int64

In [10]:
#to check if there are any null values
df.isnull().sum()

User ID              0
Subscription Type    0
Monthly Revenue      0
Join Date            0
Last Payment Date    0
Country              0
Age                  0
Gender               0
Device               0
Plan Duration        0
dtype: int64

In [11]:
#checking for duplicates
df.duplicated().any()

False

In [12]:
# Handeling different date formats
df['Join Date'] = pd.to_datetime(df['Join Date'], dayfirst=True, errors='coerce')

# Covert Join Date column in a form like 20xx Jan 25
df['Join Date'] = df['Join Date'].dt.strftime('%Y %b %d')

C:\Users\sadin\AppData\Local\Temp\ipykernel_8720\1829533045.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Join Date'] = pd.to_datetime(df['Join Date'], dayfirst=True, errors='coerce')

In [13]:
df.head()

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,2022 Jan 15,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,2021 Sep 05,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,2023 Feb 28,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,2022 Jul 10,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,2023 May 01,28-06-23,Germany,33,Male,Smartphone,1 Month

In [14]:
#drop columns which are not useful for creating dashboard
df=df.drop(columns=['User ID','Last Payment Date','Plan Duration'])

In [15]:
df.head()

,Subscription Type,Monthly Revenue,Join Date,Country,Age,Gender,Device
0,Basic,10,2022 Jan 15,United States,28,Male,Smartphone
1,Premium,15,2021 Sep 05,Canada,35,Female,Tablet
2,Standard,12,2023 Feb 28,United Kingdom,42,Male,Smart TV
3,Standard,12,2022 Jul 10,Australia,51,Female,Laptop
4,Basic,10,2023 May 01,Germany,33,Male,Smartphone

In [66]:
df.to_csv('cleaned_netflix_userbase.csv', index=False)